env/
__pycache__/
*.py[cod]
cms/static/
*.sqlite3
cms/media/images/*.png
cms/media/images/*.jpg
cms/media/images/*.jpeg
cms/media/images/*.jp2
cms/media/images/*.gif
cms/media/images/*.webp
cms/media/original_images/*.png
cms/media/original_images/*.jpg
cms/media/original_images/*.jpeg
cms/media/original_images/*.jp2
cms/media/original_images/*.gif
cms/media/original_images/*.webp

*.log
