{% load navigation_tags static %}

<header id="header" class="transparent-nav">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a class="logo" href="index.html">
          <img src="{% static 'img/logo-alt.png' %}" alt="logo">
        </a>
      </div>
      <button class="navbar-toggle">
        <span></span>
      </button>
    </div>
    <nav id="nav">
      <ul class="main-menu nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="contact.html">Login</a></li>
        <li><a href="contact.html">Sign-up</a></li>
      </ul>
    </nav>
  </div>
</header>